#title{
  background-color: #ff4c68;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

body{
  font-family: 'Ubuntu', sans-serif;
}
.container-fluid{
  padding: 3% 15%;
}
